{{#row_scenario_has_data}}
  {{#scenario_title}}
    <button type="button" class="collapsible ckeditor-accordion-toggle">{{.}} - {{scenario_description}}</button>
    <div class="content">
      {{#segments}}
      {{#segment_class}}
        <div class="{{.}}">
      {{/segment_class}}
      {{#segment_title}}<h3>{{.}}</h3>{{/segment_title}}
      <table class="divTable">
        <div class="divTableBody">
          <tr class="divTableRow">
            <th class="divTableBorderlessCell"/>
            <th class="divTableBorderlessCell"/>
            {{{denom_steps}}}
            {{{numer_steps}}}
            {{{result_headers}}}
          </tr>
          <tr class="divTableRow">
            <th class="divTableCell blueItallic">Patient</th>
            <th class="divTableCell blueItallic">Provider Information</th>
            {{#segment_steps}}
              <th class="divTableCell blueItallic divSmall {{#automatable_step}}automatable{{automatable_index}}{{/automatable_step}}">{{step_title}}</th>
            {{/segment_steps}}
            {{#provider_combinations}}
              <th class="divTableCell blueItallic divSmall {{color_for_provider}} {{#programs}}{{.}}{{/programs}}">{{provider_display_name}}</th>
            {{/provider_combinations}}
          </tr>
          {{#segment_patients}}
            <tr class="divTableAlternatingRow">
              {{#patient_details}}
              <td class="divTableCell">
                <div class="divBold noWrap">{{name}}</div>
                <div class="divSmall">{{dob}}</div>
                <div class="divSmall">Sex: {{sex}}</div>
              </td>
              {{/patient_details}}
              <td class="divTableCell">
                <ol>
                {{#segment_providers_with_program}}
                    <li class="divLi noWrap right {{#programs}}{{.}}{{/programs}}">{{#provider}}{{provider_name}}{{/provider}}</li>
                {{/segment_providers_with_program}}
                </ol>
              </td>
              {{#entries}}
              <td class="divTableCell {{#automatable_step}}automatable{{automatable_index}}{{/automatable_step}}">
                <ol>
                  {{#providers}}
                    <li class="divLi noWrap {{#result_program_titles}}{{.}}{{/result_program_titles}}">{{entry_value}}</li>
                  {{/providers}}
                </ol>
              </td>
              {{/entries}}
              {{#results}}
                {{#has_automated_numerator_values?}}
                  <td class="divTableCell noWrap {{color_for_provider}} {{#result_program_titles}}{{.}}{{/result_program_titles}} not_automated_result">{{numerator_value}} / {{denominator_value}}</td>
                  {{#automated_numerator_values}}
                    {{#all_automated?}}
                      <td class="divTableCell noWrap {{color_for_provider}} {{#result_program_titles}}{{.}}{{/result_program_titles}} all_automated_result">{{value}} / {{denominator_value}}</td>
                    {{/all_automated?}}
                    {{^all_automated?}}
                      <td class="divTableCell noWrap {{color_for_provider}} {{#result_program_titles}}{{.}}{{/result_program_titles}} automated{{automatable_index}}_result">{{value}} / {{denominator_value}}</td>
                    {{/all_automated?}}
                  {{/automated_numerator_values}}
                {{/has_automated_numerator_values?}}
                {{^has_automated_numerator_values?}}
                  <td class="divTableCell noWrap {{color_for_provider}} {{#result_program_titles}}{{.}}{{/result_program_titles}}">{{numerator_value}} / {{denominator_value}}</td>
                {{/has_automated_numerator_values?}}
              {{/results}}
            </tr>
          {{/segment_patients}}
          <tr class="divTableAlternatingRow">
          <td class="divTableCell"></td>
          {{#segment_steps}}
            <td class="divTableCell {{#automatable_step}}automatable{{automatable_index}}{{/automatable_step}}"></td>
          {{/segment_steps}}
          <td class="divTableCell divBold">Cumulative Total</td>
          {{#segment_total}}
            {{#providers}}
              {{#has_automated_numerator_values?}}
                <td class="divTableCell divBold noWrap {{color_for_provider}} {{#programs}}{{.}}{{/programs}} not_automated_result">{{numerator_value}} / {{denominator_value}}</td>
                {{#automated_numerator_values}}
                  {{#all_automated?}}
                    <td class="divTableCell divBold noWrap {{color_for_provider}} {{#result_program_titles}}{{.}}{{/result_program_titles}} all_automated_result">{{value}} / {{denominator_value}}</td>
                  {{/all_automated?}}
                  {{^all_automated?}}
                    <td class="divTableCell divBold noWrap {{color_for_provider}} {{#programs}}{{.}}{{/programs}} automated{{automatable_index}}_result">{{value}} / {{denominator_value}}</td>
                  {{/all_automated?}}
                {{/automated_numerator_values}}
              {{/has_automated_numerator_values?}}
              {{^has_automated_numerator_values?}}
                <td class="divTableCell divBold noWrap {{color_for_provider}} {{#programs}}{{.}}{{/programs}}">{{numerator_value}} / {{denominator_value}}</td>
              {{/has_automated_numerator_values?}}
            {{/providers}}
          {{/segment_total}}
          </tr>
        </div>
      </table>
      {{#segment_class}}
        </div>
      {{/segment_class}}
      {{/segments}}
    </div>
  {{/scenario_title}}
{{/row_scenario_has_data}}
{{^row_scenario_has_data}}
  {{#scenario_title}}
    <button type="button" class="collapsible">{{.}} (Not applicable) - {{scenario_description}}</button>
    <div class="content"><h4>No actions are required for this scenario</h4></div>
  {{/scenario_title}}
  <div class="content"></div>
{{/row_scenario_has_data}}