
{{#row_scenario_has_data}}
  {{#scenario_title}}
    <button type="button" class="collapsible ckeditor-accordion-toggle">{{.}} - {{scenario_description}}</button>
    <div class="content">
      {{#segments}}
      {{#segment_class}}
        <div class="{{.}}">
      {{/segment_class}}
      {{#segment_title}}<h3>{{.}}</h3>{{/segment_title}}
      <table class="divTable">
        <div class="divTableBody">
          <tr class="divTableRow">
            <th class="divTableBorderlessCell"/>
            {{{denom_steps}}}
            {{{numer_steps}}}
            <th class="divTableCell result_color" colspan="1">Results</th>
          </tr>
          <tr class="divTableRow">
            <th class="divTableCell blueItallic">Patient</th>
            {{#segment_steps}}
              <th class="divTableCell blueItallic {{#automatable_step}}automatable{{automatable_index}}{{/automatable_step}}">{{step_title}}</th>
            {{/segment_steps}}
            <th class="divTableCell blueItallic">Records Total</th>
          </tr>
          {{#segment_patients}}
            <tr class="divTableAlternatingRow">
              {{#patient_details}}
              <td class="divTableCell">
                <div class="divBold noWrap">{{name}}</div>
                <div class="divSmall">{{dob}}</div>
                <div class="divSmall">Sex: {{sex}}</div>
              </td>
              {{/patient_details}}
              {{#entries}}
              <td class="divTableCell {{#automatable_step}}automatable{{automatable_index}}{{/automatable_step}}">{{entry_value}}</li></td>
              {{/entries}}
              {{#results}}
                {{#has_automated_numerator_values?}}
                  {{#denominator_value}}
                    <td class="divTableCell noWrap not_automated_result">{{numerator_value}} / {{denominator_value}}</td>
                    {{#automated_numerator_values}}
                      {{#all_automated?}}
                        <td class="divTableCell noWrap all_automated_result">{{value}} / {{denominator_value}}</td>
                      {{/all_automated?}}
                      {{^all_automated?}}
                        <td class="divTableCell noWrap automated{{automatable_index}}_result">{{value}} / {{denominator_value}}</td>
                      {{/all_automated?}}
                    {{/automated_numerator_values}}
                  {{/denominator_value}}
                  {{^denominator_value}}
                    <td class="divTableCell noWrap not_automated_result">{{numerator_value}}</td>
                    {{#automated_numerator_values}}
                      {{#all_automated?}}
                        <td class="divTableCell noWrap all_automated_result">{{value}}</td>
                      {{/all_automated?}}
                      {{^all_automated?}}
                        <td class="divTableCell noWrap automated{{automatable_index}}_result">{{value}}</td>
                      {{/all_automated?}}
                    {{/automated_numerator_values}}
                  {{/denominator_value}}
                {{/has_automated_numerator_values?}}
                {{^has_automated_numerator_values?}}
                  {{#denominator_value}}
                    <td class="divTableCell noWrap">{{numerator_value}} / {{denominator_value}}</td>
                  {{/denominator_value}}
                  {{^denominator_value}}
                    <td class="divTableCell">{{numerator_value}}</td>
                  {{/denominator_value}}
                {{/has_automated_numerator_values?}}
              {{/results}}
            </tr>
          {{/segment_patients}}
          <tr class="divTableAlternatingRow">
          {{#segment_steps}}
            <td class="divTableCell {{#automatable_step}}automatable{{automatable_index}}{{/automatable_step}}"></td>
          {{/segment_steps}}
          <td class="divTableCell divBold">Cumulative Total</td>
          {{#segment_total}}
            {{#has_automated_numerator_values?}}
              {{#denominator_value}}
                <td class="divTableCell noWrap not_automated_result">{{numerator_value}} / {{denominator_value}}</td>
                {{#automated_numerator_values}}
                  {{#all_automated?}}
                    <td class="divTableCell noWrap all_automated_result">{{value}} / {{denominator_value}}</td>
                  {{/all_automated?}}
                  {{^all_automated?}}
                    <td class="divTableCell noWrap automated{{automatable_index}}_result">{{value}} / {{denominator_value}}</td>
                  {{/all_automated?}}
                {{/automated_numerator_values}}
              {{/denominator_value}}
              {{^denominator_value}}
                <td class="divTableCell noWrap not_automated_result">{{numerator_value}}</td>
                {{#automated_numerator_values}}
                  {{#all_automated?}}
                    <td class="divTableCell noWrap all_automated_result">{{value}}</td>
                  {{/all_automated?}}
                  {{^all_automated?}}
                    <td class="divTableCell noWrap automated{{automatable_index}}_result">{{value}}</td>
                  {{/all_automated?}}
                {{/automated_numerator_values}}
              {{/denominator_value}}
            {{/has_automated_numerator_values?}}
            {{^has_automated_numerator_values?}}
            <td class="divTableCell divBold noWrap">
              {{#denominator_value}}
                {{numerator_value}} / {{denominator_value}}
              {{/denominator_value}}
              {{^denominator_value}}
                {{numerator_value}}
              {{/denominator_value}}
            </td>
            {{/has_automated_numerator_values?}}
          {{/segment_total}}
          </tr>
        </div>
      </table>
      {{#segment_class}}
        </div>
      {{/segment_class}}
      {{/segments}}
    </div>
  {{/scenario_title}}
{{/row_scenario_has_data}}
{{^row_scenario_has_data}}
  {{#scenario_title}}
    <button type="button" class="collapsible">{{.}} (Not applicable) - {{scenario_description}}</button>
    <div class="content"><h4>No actions are required for this scenario</h4></div>
  {{/scenario_title}}
  <div class="content"></div>
{{/row_scenario_has_data}}