<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns:n1="urn:hl7-org:v3" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <head>
    <title>G1/G2 home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    {{> _header_css}}
  </head>
    <body>
    <div id="block-breadcrumbs" class="block block-system block-system-breadcrumb-block">
      <nav class="breadcrumb" role="navigation" aria-labelledby="system-breadcrumb">
        <h2 id="system-breadcrumb" class="visually-hidden">Breadcrumb</h2>
        <ol>
              <li><a href="../index.html">G1/G2 home</a></li>
        </ol>
      </nav>
    </div>
        <h1>§170.315(g)(1)/§170.315(g)(2) Test Data</h1>
        <div class="divTable">
          <div class="divTableBody">
              <div class="divTableNoteRow">
                <div class="divTableCell noBorder"><a href="exports/test_data/G1_EH_General_Notes.html">§170.315(g)(1) Test Data Set 1 – EH/CAH</a></div>
              </div>
              <div class="divTableNoteRow">
                <div class="divTableCell noBorder"><a href="exports/test_data/G1_EP_General_Notes.html">§170.315(g)(1) Test Data Set 2 – EP/EC</a></div>
              </div>
              <div class="divTableNoteRow">
                <div class="divTableCell noBorder"><a href="exports/test_data/G2_EH_General_Notes.html">§170.315(g)(2) Test Data Set 1 – EH/CAH</a></div>
              </div>
              <div class="divTableNoteRow">
                <div class="divTableCell noBorder"><a href="exports/test_data/G2_EP_General_Notes.html">§170.315(g)(2) Test Data Set 2 – EP/EC</a></div>
              </div>
          </div>
        </div>
        <br/>
        <div>Version: 2.4 - Exported {{{today_date}}} by the <a href="https://github.com/projectcypress/promoting-interoperability-test-artifacts">promoting-interoperability-test-artifacts</a> generator</div>
  </body>
</html>